{% extends 'flatpages/default.html' %}

{% block title %}
Создание/Редактирование новости
{% endblock title %}

{% block content %}
<h1><b><span style="color: #272a2d;">Создание / Редактирование новости</span></b></h1>
<hr>

<form method="post" style="margin-top: 2rem;">
    {% csrf_token %}
    <div style="max-width: 600px; margin: 0 auto;">
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-3">💾 Сохранить</button>
    </div>
</form>
<style>
    input, textarea, select {
        border-radius: 0.5rem;
        padding: 8px;
        border: 1px solid #e0e5ff;
    }
</style>
{% endblock content %}
