{% extends "flatpages/default.html" %}
{% load i18n allauth account %}

{% block title %}
Сброс пароля
{% endblock title %}

{% block content %}
<div style="max-width: 500px; margin: 2rem auto;">
    <h1><b><span style="color: #272a2d;">Сброс пароля</span></b></h1>
    <hr>

    {% if user.is_authenticated %}
        <div class="alert alert-info mt-3">
            Вы уже вошли в систему.
        </div>
    {% endif %}

    <p class="text-muted">
        Забыли пароль? Введите свою электронную почту, и мы отправим вам ссылку для его восстановления.
    </p>

    {% url 'account_reset_password' as reset_url %}
    <form method="post" action="{{ reset_url }}" style="margin-top: 2rem;">
        {% csrf_token %}
        {{ form.email.errors }}
        <div class="form-group mb-3">
            <input type="email" name="email" placeholder="Email" class="form-control" required>
        </div>

        {{ redirect_field }}

        <button type="submit" class="btn btn-success">📩 Сбросить пароль</button>
    </form>

</div>

<style>
    input {
        border-radius: 0.5rem;
        border: 1px solid #e0e5ff;
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
    }
    input:focus {
        border-color: #3668df;
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(54, 104, 223, 0.2);
    }
</style>
{% endblock %}